In [27]:
import pandas as pd

In [28]:
df = pd.read_csv("../data/Mental_Health_and_Social_Media_Balance_Dataset.csv")
df.head()

,User_ID,Age,Gender,Daily_Screen_Time(hrs),Sleep_Quality(1-10),Stress_Level(1-10),Days_Without_Social_Media,Exercise_Frequency(week),Social_Media_Platform,Happiness_Index(1-10)
0,U001,44,Male,3.1,7.0,6.0,2.0,5.0,Facebook,10.0
1,U002,30,Other,5.1,7.0,8.0,5.0,3.0,LinkedIn,10.0
2,U003,23,Other,7.4,6.0,7.0,1.0,3.0,YouTube,6.0
3,U004,36,Female,5.7,7.0,8.0,1.0,1.0,TikTok,8.0
4,U005,34,Female,7.0,4.0,7.0,5.0,1.0,X (Twitter),8.0

In [29]:
df.drop("User_ID", axis=1, inplace=True)
df.drop("Age", axis=1, inplace=True)
df

,Gender,Daily_Screen_Time(hrs),Sleep_Quality(1-10),Stress_Level(1-10),Days_Without_Social_Media,Exercise_Frequency(week),Social_Media_Platform,Happiness_Index(1-10)
0,Male,3.1,7.0,6.0,2.0,5.0,Facebook,10.0
1,Other,5.1,7.0,8.0,5.0,3.0,LinkedIn,10.0
2,Other,7.4,6.0,7.0,1.0,3.0,YouTube,6.0
3,Female,5.7,7.0,8.0,1.0,1.0,TikTok,8.0
4,Female,7.0,4.0,7.0,5.0,1.0,X (Twitter),8.0
...,...,...,...,...,...,...,...,...
495,Male,6.9,5.0,7.0,4.0,2.0,X (Twitter),10.0
496,Female,5.6,7.0,6.0,5.0,2.0,Facebook,9.0
497,Male,7.7,5.0,7.0,2.0,2.0,LinkedIn,8.0
498,Male,4.2,9.0,7.0,0.0,2.0,Facebook,9.0
499,Female,5.9,5.0,8.0,3.0,3.0,X (Twitter),7.0

In [30]:
df["Gender"].unique()

array(['Male', 'Other', 'Female'], dtype=object)

In [31]:
df["Social_Media_Platform"].unique()

array(['Facebook', 'LinkedIn', 'YouTube', 'TikTok', 'X (Twitter)',
       'Instagram'], dtype=object)

In [32]:
bins = [0, 2, 4, 6, 24]
labels = ["0-2h", "2-4h", "4-6h", "6h+"]

df["usage_group"] = pd.cut(df["Daily_Screen_Time(hrs)"], bins=bins, labels=labels)
df.head()

,Gender,Daily_Screen_Time(hrs),Sleep_Quality(1-10),Stress_Level(1-10),Days_Without_Social_Media,Exercise_Frequency(week),Social_Media_Platform,Happiness_Index(1-10),usage_group
0,Male,3.1,7.0,6.0,2.0,5.0,Facebook,10.0,2-4h
1,Other,5.1,7.0,8.0,5.0,3.0,LinkedIn,10.0,4-6h
2,Other,7.4,6.0,7.0,1.0,3.0,YouTube,6.0,6h+
3,Female,5.7,7.0,8.0,1.0,1.0,TikTok,8.0,4-6h
4,Female,7.0,4.0,7.0,5.0,1.0,X (Twitter),8.0,6h+

In [33]:
df.to_csv('../data/data_cleaning.csv', index=False)