In [13]:
import pandas as pd

In [14]:
df = pd.read_csv("../datas/Mental_Health_and_Social_Media_Balance_Dataset.csv")
df.head()

,User_ID,Age,Gender,Daily_Screen_Time(hrs),Sleep_Quality(1-10),Stress_Level(1-10),Days_Without_Social_Media,Exercise_Frequency(week),Social_Media_Platform,Happiness_Index(1-10)
0,U001,44,Male,3.1,7.0,6.0,2.0,5.0,Facebook,10.0
1,U002,30,Other,5.1,7.0,8.0,5.0,3.0,LinkedIn,10.0
2,U003,23,Other,7.4,6.0,7.0,1.0,3.0,YouTube,6.0
3,U004,36,Female,5.7,7.0,8.0,1.0,1.0,TikTok,8.0
4,U005,34,Female,7.0,4.0,7.0,5.0,1.0,X (Twitter),8.0

In [15]:
df.drop("User_ID", axis=1, inplace=True)
df

,Age,Gender,Daily_Screen_Time(hrs),Sleep_Quality(1-10),Stress_Level(1-10),Days_Without_Social_Media,Exercise_Frequency(week),Social_Media_Platform,Happiness_Index(1-10)
0,44,Male,3.1,7.0,6.0,2.0,5.0,Facebook,10.0
1,30,Other,5.1,7.0,8.0,5.0,3.0,LinkedIn,10.0
2,23,Other,7.4,6.0,7.0,1.0,3.0,YouTube,6.0
3,36,Female,5.7,7.0,8.0,1.0,1.0,TikTok,8.0
4,34,Female,7.0,4.0,7.0,5.0,1.0,X (Twitter),8.0
...,...,...,...,...,...,...,...,...,...
495,23,Male,6.9,5.0,7.0,4.0,2.0,X (Twitter),10.0
496,43,Female,5.6,7.0,6.0,5.0,2.0,Facebook,9.0
497,41,Male,7.7,5.0,7.0,2.0,2.0,LinkedIn,8.0
498,23,Male,4.2,9.0,7.0,0.0,2.0,Facebook,9.0
499,43,Female,5.9,5.0,8.0,3.0,3.0,X (Twitter),7.0

In [22]:
df["Gender"].unique()

array(['Male', 'Other', 'Female'], dtype=object)

In [23]:
df["Social_Media_Platform"].unique()

array(['Facebook', 'LinkedIn', 'YouTube', 'TikTok', 'X (Twitter)',
       'Instagram'], dtype=object)

In [24]:
df = pd.get_dummies(df, columns=["Gender", "Social_Media_Platform"])
df.head()

,Age,Daily_Screen_Time(hrs),Sleep_Quality(1-10),Stress_Level(1-10),Days_Without_Social_Media,Exercise_Frequency(week),Happiness_Index(1-10),Gender_Female,Gender_Male,Gender_Other,Social_Media_Platform_Facebook,Social_Media_Platform_Instagram,Social_Media_Platform_LinkedIn,Social_Media_Platform_TikTok,Social_Media_Platform_X (Twitter),Social_Media_Platform_YouTube
0,44,3.1,7.0,6.0,2.0,5.0,10.0,False,True,False,True,False,False,False,False,False
1,30,5.1,7.0,8.0,5.0,3.0,10.0,False,False,True,False,False,True,False,False,False
2,23,7.4,6.0,7.0,1.0,3.0,6.0,False,False,True,False,False,False,False,False,True
3,36,5.7,7.0,8.0,1.0,1.0,8.0,True,False,False,False,False,False,True,False,False
4,34,7.0,4.0,7.0,5.0,1.0,8.0,True,False,False,False,False,False,False,True,False

In [25]:
df.to_csv('../datas/data_cleaning.csv', index=False)